html, body, .desktop-1 {
  width: 100vw; 
  height: 100vh;
}

.desktop-1 .screenshot-20240425-at-10381 {
  background: url('../assets/images/screenshot20240425At10381.png') 50% / cover no-repeat;
  margin-right: 15px;
  width: 92px;
  height: 106px;
}
.desktop-1 .lasa-club-database {
  margin: 24px 0 15px 0;
  overflow-wrap: break-word;
  font-family: 'Outfit';
  font-weight: 400;
  font-size: 45px;
  color: #FFFFFF;
}
.lasa-club-database-sub10 {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 45px;
  line-height: 1.333;
}
.lasa-club-database {
  font-family: 'Outfit';
  font-weight: 400;
  font-size: 45px;
  line-height: 1.333;
}
.desktop-1 .container-7 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-1 .vector-2 {
  width: 33px;
  height: 33px;
}
.desktop-1 .calendar-empty {
  margin: 15.5px 5.5px 10.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 33px;
  height: 33px;
  box-sizing: border-box;
}
.desktop-1 .add-your-own {
  overflow-wrap: break-word;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 40px;
  color: #FFFFFF;
}
.desktop-1 .vector-1 {
  width: 33px;
  height: 27.5px;
}
.desktop-1 .envelope-1 {
  margin: 18.3px 5.5px 13.3px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 33px;
  height: 27.5px;
  box-sizing: border-box;
}
.desktop-1 .contact {
  overflow-wrap: break-word;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 40px;
  color: #FFFFFF;
}
.desktop-1 .container-2 {
  margin: 31px 0 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 455.1px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-4 {
  background: #0C2340;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 19px 0px 0px 112px;
  width: 100%;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-1 .search {
  position: relative;
  margin: 0 0 23px 33.5px;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 30px;
  color: #97999B;
}
.desktop-1 .vector-3 {
  width: 21px;
  height: 21px;
}
.desktop-1 .arrow-angle-down-circle {
  margin: 13.5px 12.5px 9.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 21px;
  height: 21px;
  box-sizing: border-box;
}
.desktop-1 .filters {
  overflow-wrap: break-word;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 30px;
  color: #97999B;
}
.desktop-1 .container {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .group-1 {
  position: absolute;
  left: 50%;
  top: 2px;
  translate: -50% 0;
  width: 210px;
  height: 43px;
}
.desktop-1 .vector {
  width: 15px;
  height: 15px;
}
.desktop-1 .search-2 {
  position: absolute;
  left: 16.3px;
  top: 15.3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
}
.desktop-1 .group-2 {
  position: relative;
  margin: 32px 59px 737px 0;
  display: flex;
  flex-direction: column;
  padding-left: 12.5px;
  width: 10%;
  box-sizing: border-box;
}
.desktop-1 .container-6 {
  width: 1041px;
  height: 760px;
}
.desktop-1 .container-5 {
  background: #C8C9C7;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 35px 35px 85px 42px;
  width: 1118px;
  height: 880px;
  box-sizing: border-box;
  color: #000000;
  font-family: 'Oswald';
}

.club-name {
  color: #000000;
  font-family: 'Oswald';
  font-size: 24px;
  font-weight: bold;
}

.club-content {
  font-weight: thin;
}

.club {
  width: 400px;
  text-wrap: wrap;
}

.desktop-1 .container-3 {
  margin-left: 53px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 {
  background: #FEFEFE;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  box-sizing: border-box;
}
