<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Desktop - 1</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="templates/desktop1.css" />
  </head>
  <body>
    <div class="desktop-1">
      <div class="container-4">
        <div class="container-7">
          <div class="screenshot-20240425-at-10381">
          </div>
          <p class="lasa-club-database">
          <span class="lasa-club-database-sub-10"></span><span></span>
          </p>
        </div>
        <div class="container-2">
          <div class="calendar-empty">
            <img class="vector-2" src="../assets/vectors/vector_x2.svg" />
          </div>
          <span class="add-your-own">
          Add Your Own
          </span>
          <div class="envelope-1">
            <img class="vector-1" src="../assets/vectors/vector1_x2.svg" />
          </div>
          <span class="contact">
          Contact
          </span>
        </div>
      </div>
      <div class="container-3">
        <div class="group-2">
          <div class="search">
          Search
          </div>
          <div class="container">
            <div class="arrow-angle-down-circle">
              <img class="vector-3" src="../assets/vectors/vector6_x2.svg" />
            </div>
            <span class="filters">
            Filters
            </span>
          </div>
          <img class="group-1" src="../assets/vectors/group1_x2.svg" />
          <div class="search-2">
            <img class="vector" src="../assets/vectors/vector7_x2.svg" />
          </div>
        </div>
        <div class="container-5">
          <img class="container-6" src="../assets/vectors/container_x2.svg" />
        </div>
      </div>
    </div>
  </body>
</html>